@model List<MyPortfolioWebsite.DAL.Entities.Reference>

@{
    ViewData["Title"] = "ReferenceList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">References</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Reference List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can make changes related to the Reference list from below :
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Reference Name</th>
									<th scope="col">Title</th>
									<th scope="col">Description</th>
									<th scope="col">Image Url</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.ReferenceID</td>
										<td>@item.ReferenceName</td>
										<td>@item.Title</td>
										<td>@item.Description</td>
										<td>@item.ImageUrl</td>
										<td><a href="/Reference/DeleteReference/@item.ReferenceID" class="btn btn-danger">Delete</a></td>
										<td><a href="/Reference/UpdateReference/@item.ReferenceID" class="btn btn-success">Update</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Reference/CreateReference/" class="btn btn-primary">Add New Reference</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

